# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Environment files (except example)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
*.md
LICENSE
.editorconfig
.eslintrc*
.prettierrc*
jest.config.*
tsconfig.tsbuildinfo

# Prisma
prisma/migrations/*_migration.sql.bak
